<footer class="page-footer blue-grey">
    <div class="footer-copyright blue-grey">
        <div class="container">
            All articles belong to
            <a href='http://www.theverge.com/tech' target="_blank">The Verge</a>
            <a class="grey-text text-lighten-4 right" href="/articles-json">Article JSON</a>
            <a href='https://github.com/nbellock/Bootstrap-Portfolio' target="_blank">Portfolio</a>
        </div>
    </div>
</footer>