body {
    /* background: url('../img/motivo3-01.jpg') repeat; */
    background-size: 600px;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.articleBody {
    height: 200px;
    font-size: 20px;
    overflow-y: scroll;
    line-height: 150%;
}

#nameComment {
    /*border-bottom: 2px solid #ec407a;*/
    font-weight: bold;
    background: #0b3066;
    color: white;
}

/* label focus color */

.input-field input[type=text]:focus+label {
    color: #0c4d6b;
}

/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid #0c4d6b;
    box-shadow: 0 1px 0 0 #000;
}

/* icon prefix focus color */

.input-field .prefix.active {
    color: #0c4d6b;
}