<nav>
    <div class="nav-wrapper blue-grey">
        <a href="/" class="brand-logo center">Mongo Screen Scrape</a>
        <ul class="right" id="nav-mobile">
            <li>
                <a href="/scrape">Scrape</a>
            </li>
            <li>
                <a href="https://github.com/nbellock/mongo" target="_blank">Git Repo</a>

            </li>
            <li>
                <a href='https://github.com/nbellock/Bootstrap-Portfolio' target="_blank">Portfolio</a>
            </li>
        </ul>
    </div>
</nav>